@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
    /* border: 1px solid red; */
    height: 100vh;
    padding: 50px;
    background-color: #F2F1E4;
}

header {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    letter-spacing: 2px;
    color: #D92B2B;
    text-shadow: 3px 3px #F2CE1B;
}

form {
    margin-top: 50px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 50%;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 30px;
}



